.DS_Store
node_modules
www/dist
**/vendor**
**/portainer-data**
**/postgres-data**
*\.log
**/autogen**
mem.db.json
__debug_bin
ssl_private/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
